{% comment %} {% load static %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body >
  <div >
    <h1>Form Login</h1><br>
    <form action="" method="post">
      {% csrf_token %}
      {% for form in forms %}
        <div >
          {{form.label}}
          {{form}}    
        </div>
      {% endfor %}
      <button type="submit" >Submit</button>
    </form>
    <br>
  </div>
</body>
<script type="text/javascript">
  {% if errors %}
    {% for error  in errors %}
      alert('{{error}}');
    {% endfor %}
  {% endif %}
    
</script>
</html>