{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Detail Destination Area</title>
<style>
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }

  th,
  td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .tabel-reviews {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .container-atas {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
  }
</style>
{% endblock meta %} {% block content %}
<center>
  <div class="container-atas">
    <h1>Halaman detail Destination Area</h1>
    <h2>{{dest_area.2}}</h2>
  </div>

  <div>
    <strong>Deskripsi:</strong>
    <p>{{dest_area.3}}</p>
  </div>

  <div class="tabel-reviews">
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>Reviewer</th>
          <th>Komentar</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for item in reviews %}
        <tr>
          <td>{{ forloop.counter }}.</td>
          <td>{{item.2}}</td>
          <td>{{item.4}}</td>
          <td>{{item.3}}.0</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <button onclick="location.href = '{{id}}/add-review';">Buat Review</button>
  <button onclick="location.href = '{{id}}/sites';">
    Lihat Situs di Area ini
  </button>
  <button onclick="location.href = '{{id}}/accomodations';">
    Lihat Akomodasi di Area ini
  </button>
</center>
{% endblock content %}
