{% extends 'profile_base.html' %}
{% load static %}
  {% block title %}
    Edit Profile 
  {% endblock title %}

  
  {% block style %}
    <link rel="stylesheet" href="{% static 'profile/base.css' %}">
  {% endblock style %}
    
  {% block content %}
  <div class="position-absolute top-50 start-50 translate-middle">
    {% if success %}
      {% comment %} alert('Sukses menyimpan perubahan'); {% endcomment %}
      <div class="alert alert-success d-flex align-items-center m-3 alert-dismissible fade show" style="height:3.5rem" role="alert">
        <svg class="bi flex-shrink-0 me-2" style="width:1rem" role="img" aria-label="Info:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
          Sukses menyimpan perubahan
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
    <div class="card m-3" style="width: 35rem;">

      <div class="card-body">
        <div class="card-titile m-3">
          <h4>Edit Profile</h4>
        </div> 
        <form class="m-3" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          
          {% for form  in forms %}
              
            <div class="mb-3">
              <label for="{{form.id_for_label}}" class="form-label">{{form.label}}</label>
              {{form}}
            </div>
            
          {% endfor %}
          <input type="submit" name="" value="simpan" class="btn btn-primary">
          <a href="javascript:history.go(-1)" class="btn btn-secondary">Kembali</a>
        </form>
        <span class="ms-3" >Lupa Password? <a class=""  href="{% url 'edit_password' %}" >Edit Password</a></span> 
        
      </div>
      </div>
      
   
  </div>
    {% endblock content %}

  {% block javascript %}
    {% if errors %}
      {% for error  in errors %}
        alert('{{error}}');
      {% endfor %}
    {% endif %}

    {% comment %} {% if success %}
      alert('Sukses menyimpan perubahan');
    {% endif %} {% endcomment %}

  {% endblock javascript %}
