{% extends 'profile_base.html' %}
  
  {% block title %}
    Lupa Password
  {% endblock title %}
    
  {% block content %}
  
    {% if success %}
      {% comment %} alert('Sukses menyimpan perubahan'); {% endcomment %}
      <div class="alert alert-success d-flex align-items-center m-5 alert-dismissible fade show" style="height:3.5rem" role="alert">
        <svg class="bi flex-shrink-0 me-2" style="width:1rem" role="img" aria-label="Info:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
          Sukses menyimpan perubahan
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
    <form class="m-5" method="post">
      {% csrf_token %}
      <div class="card">
        <div class="card-header">
          Lupa Password
        </div>
        <div class="card-body">
          <h5 class="card-title">Kirim Password Ke email?</h5>
          <p class="card-text">Kami akan mengrimikan password lama anda ke <strong>{{email}}</strong>.</p>
          <input type="submit" name="" value="Kirim Password ke Email" class="btn btn-primary">
          <a href="javascript:history.go(-1)" class="btn btn-secondary">Kembali</a>
        </div>
      </div>
    </form>
  {% endblock content %}
  
  {% block javascript %}
    
    {% if errors %}
      {% for error  in errors %}
        alert('{{error}}');
      {% endfor %}
    {% endif %}
  {% endblock javascript %}
